@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Inter", sans-serif;
}

body {
  height: 100%;
}

:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}

.main-color {
  background-color: #213555;
}

.sec-color {
  background-color: #4F709C;
}

.third-color {
  background-color: #D8C4B6;
}

.text-custom {
  color: #F5EFE7;
}

.text-custom-white {
  color: #ffffff;
}

.outer-container {
  margin: auto;
  width: 50%;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

.sub-container {
  margin: auto;
  width: 80%;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.35);
}

.form-select-peran {
    /* display: block; */
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

.sidebar-nav {
  width: var(--offcanvas-width);
}

.sidebar-link {
  display: flex;
  align-items: center;
}

.sidebar-link .right-icon {
  display: inline-flex;
}

.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}

.logo{
  filter: brightness(200%);
  vertical-align: middle;
}

@media (min-width: 992px) {
  body {
    overflow: auto !important;

  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }

  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: 100%;
}

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .h4{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  .bg-body{background-color:#5791b3!important}
  }

  .upload{
    width: 100px;
    position: relative;
    margin: auto;
  }
  
  .upload img{
    border-radius: 50%;
    border: 6px solid #eaeaea;
  }
  
  .upload .round{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #00B4FF;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .upload .round input[type = "file"]{
    position: absolute;
    transform: scale(2);
    opacity: 0;
  }
  
  input[type=file]::-webkit-file-upload-button{
      cursor: pointer;
  }

a {
  text-decoration: none;
}

.navbar-dark {
  height: 100%;
}