{% include 'navbar.html' %}
<!-- Team Section-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<section class="masthead page-section text-black mb-md-4" id="about">
    <h2 class="text-center mt-3 text-uppercase text-black">
        Ketua Peneliti U-Tapis
    </h2>
    <img src="../static/assets/img/Peneliti/Bu NikNik.jpeg" class="d-block w-50 mx-auto mb-5" alt="...">
    <hr>
    <div class="container d-flex flex-column flex-wrap mt-5">
        <div class="row">
            <h2 class="text-center text-uppercase text-black">
                Anggota Peneliti U-Tapis
            </h2>
            <div class="item ms-auto d-flex justify-content-center align-items-center">
                <div id="carouselExample" class="carousel slide w-75" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../static/assets/img/Peneliti/Bu Vasty.jpeg" class="d-block w-100 mx-auto"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../static/assets/img/Peneliti/Pak Rudi.jpeg" class="d-block w-100 mx-auto"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../static/assets/img/Peneliti/Pak Samiaji.jpeg" class="d-block w-100 mx-auto"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../static/assets/img/Peneliti/Bu Veronica.jpeg" class="d-block w-100 mx-auto"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../static/assets/img/Peneliti/Pak Moeljono.jpeg" class="d-block w-100 mx-auto"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../static/assets/img/Peneliti/Pak Ambang.jpeg" class="d-block w-100 mx-auto"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../static/assets/img/Peneliti/Pak Angga.jpeg" class="d-block w-100 mx-auto"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../static/assets/img/Peneliti/Pak Alexander.jpeg" class="d-block w-100 mx-auto"
                                alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev p-3 ms-3" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon text-dark bg-dark"" aria-hidden=" true"></span>
                        <span class="visually-hidden" style="padding: 10px;">Previous</span>
                    </button>
                    <button class="carousel-control-next p-3 me-3" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon text-dark bg-dark"" aria-hidden=" true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="list-container w-100">
        <h2 class="text-center">Asisten Peneliti:</h2>
        <ol class="name-list w-100 mt-3">
            <div class="d-flex gap-5 justify-content-center w-100">
                <div class="">
                    <li>Antonius Kevin</li>
                    <li>Vallencius Gavriel</li>
                    <li>Nabil Rakha</li>
                    <li>Daffa Kaisha</li>
                    <li>Justine</li>
                    <li>Jason Tandiono</li>
                    <li>Afri</li>
                    <li>Kevin Hindra Jaya</li>
                    <li>Bryan Glennardy</li>
                    <li>Wilson Manuel</li>
                    <li>Aksamala Herianto</li>
                    <li>Owen Octavianus Biliam</li>
                    <li>Cantya Kirana Dewi</li>
                    <li>Disty Laurent Audry</li>
                    <li>Margaretha Alfina Putri</li>
                    <li>Denn Sebastian Emmanuel</li>
                    <li>Ruddy Kusuma Jaya</li>
                    <li>Bohdi Virya Chandra</li>
                    <li>Nicholas Evan Taslim</li>
                    <li>Ricardo Cuatanto</li>
                </div>

                <div class="">
                    <li>Bella Saharani Sopyan</li>
                    <li>Kesya Febriana Manampiring</li>
                    <li>Jerico Olwen</li>
                    <li>Michael Immanuel Herijanto</li>
                    <li>Nataniel Tambayung</li>
                    <li>Fadhil Dzaky Muhammad</li>
                    <li>Christian Ivan Wibowo</li>
                    <li>Steve Christian Yehezkiel Putraleytha</li>
                    <li>Jefer Setiawan</li>
                    <li>Rivo Juicer Wowor</li>
                    <li>Andrea Zoe Putri Sukonco</li>
                    <li>Felix Rafael</li>
                    <li>Naufal Akmal Ramadhan</li>
                    <li>Gerald Imanuel Wijaya</li>
                    <li>Fauziah Naomi Machrizani</li>
                </div>
            </div>
        </ol>
        <h2 class="text-center">Tribunnews:</h2>
        <ol class="name-list w-100 mt-3">
            <div class="d-flex gap-5 justify-content-center w-100">
                <div class="">
                    <li>Febby Mahendra Putra</li>
                    <li>Yulius Sulistyawan</li>
                    <li>Rachmat Hidayat</li>
                    <li>Yohana Devi</li>
                    <li>Edi Sumardi</li>
                    <li>Fahrizal Syam</li>
                </div>
            </div>
        </ol>
    </div>
</div>
</section>
{% include 'footer.html' %}