{% include 'navbar.html' %}
<!-- About Section-->
<section class="masthead page-section text-black mb-0 mt-1 p-5" id="about">
    <div class="container d-flex flex-column">
        <!-- Apa itu U-Tapis? -->
        <h2 class="text-center text-uppercase text-black">Apa itu U-Tapis?</h2> <br>
        <!-- Deskripsi Singkat U-Tapis -->
        <div class="row">
            <div class="item ms-auto d-flex align-items-center">
                <img src="/static/assets/img/utapislogo.png" alt="" class="logo-about img-fluid"
                    style="width: 50%; height: 50%">
                <p class="lead para-container" style="text-align: justify; margin-left: 2%">
                    U-Tapis adalah sebuah aplikasi penapis kesalahan bahasa yang ditujukan untuk membantu jurnalis dan editor dalam menyusun berita atau artikel di media daring. Selain menekankan pentingnya kecepatan dalam dunia jurnalistik, aplikasi ini juga fokus pada ketepatan bahasa dalam menyampaikan informasi dan komunikasi. Dikembangkan melalui rancang bangun automated journalism, U-Tapis memanfaatkan teknologi informasi dan komunikasi serta metode komputasi, terutama machine learning. <br> <br>
                    Keunggulan utamanya adalah kemampuan mendeteksi dan memperbaiki berbagai kesalahan bahasa, seperti kesalahan tik, kata berimbuhan, dan kata tidak baku. Aplikasi ini juga mencakup deteksi kesalahan pada konjungsi, peluhan kata, kata depan, kata terikat, kata majemuk, dan kalimat. Dengan integrasi semua fitur ini dalam platform web, U-Tapis diharapkan dapat menjadi solusi untuk berbagai kesalahan bahasa. Dalam jangka pendek, aplikasi ini diharapkan membantu jurnalis dan redaksi media digital dalam memperbaiki beragam kesalahan bahasa, sementara dalam jangka panjang, U-Tapis dapat digunakan secara luas oleh masyarakat umum.
                </p>
            </div>
        </div> <hr>
        <!-- Pendanaan Header -->
        <h2 class="page-section-heading text-center text-uppercase text-black">Siapa Penyandang Dana U-Tapis?</h2>
        <br>
        <!-- div gambar -->
        <div class="row">
            <div class="image ms-auto d-flex flex_wrap justify-content-center">
                <img src="/static/assets/img/logo_umn.png" alt="" class="img-item img-fluid">
                <img src="/static/assets/img/logo_kedaireka.png" alt="" class="img-item img-fluid">
                <img src="/static/assets/img/logo_ristekdikti.png" alt="" class="img-item img-fluid">
            </div>
            <p class="lead para-container" style="text-align: justify; margin-top:3%">
                Penelitian U-Tapis dimulai pada tahun 2020-2021 dengan pendanaan sebesar Rp30 juta dari Universitas
                Multimedia Nusantara (<a
                    href="https://www.umn.ac.id/dosen-umn-kembangkan-u-tapis-aplikasi-penapis-ejaan-otomatis/"
                    target="_blank">https://www.umn.ac.id/dosen-umn-kembangkan-u-tapis-aplikasi-penapis-ejaan-otomatis/</a>).
                Hasil penelitian awal mencakup U-Tapis Kata Baku, sertifikat Hak Kekayaan Intelektual (HKI), dan
                publikasi artikel ilmiah di Cakrawala Pendidikan (Scopus Q-2) (<a
                    href="https://journal.uny.ac.id/index.php/cp/article/view/34546">https://journal.uny.ac.id/index.php/cp/article/view/34546</a>). <br><br>
                Pada tahun 2022, Tim Peneliti U-Tapis berhasil mengikuti Program Matching Fund, Kedaireka 2022
                dengan pendanaan sekitar 600 juta melalui kerjasama dengan Tribunnews.com. Luaran penelitian
                melibatkan pengembangan berbagai fitur seperti U-Tapis Konjungsi, U-Tapis Peluluhan Kata, U-Tapis
                Kalimat, U-Tapis Kata Depan, U-Tapis Salah Tik, dan Web U-Tapis. Pada tahun 2023, Tim Peneliti UMN
                mendapatkan hibah dari Program Hibah Dikti 2023–2024 sebesar Rp180 juta, menghasilkan aplikasi
                seperti U-Tapis Web, U-Tapis Kata Depan Di-Di, U-Tapis Kata Majemuk, dan U-Tapis Kata Terikat, serta
                dua artikel jurnal yang terpublikasi secara internasional (Scopus Q-3). Selain itu, terdapat 1 buku
                teks, 1 buku ajar, 4 HKI, dan proses pengajuan paten dengan nama U-Tapis.
            </p>
        </div> <hr>
        <!-- Video U-Tapis -->
        <h2 class="page-section-heading text-center text-uppercase text-black" style="margin-top: 3%;">Video
            Penelitian U-Tapis</h2> <br>
        <!-- List Video -->
        <!-- div video -->
        <div class="row">
            <div class="vid ms-auto d-flex justify-content-between">
                <iframe class="m-2" width="525" height="315"
                    src="https://www.youtube.com/embed/j8R-_94DfHs?si=1b2XbbG6MyYtnUKd" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <iframe class="m-2" width="525" height="315"
                    src="https://www.youtube.com/embed/N78sG-dy_Qc?si=CQk7T_bLPSOvtW3-" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <iframe class="m-2" width="525" height="315"
                    src="https://www.youtube.com/embed/DAvGFVhjrNs?si=qjTRD62BveSHcFtw" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <iframe class="m-2" width="525" height="315"
                    src="https://www.youtube.com/embed/rWxTf79suYY?si=ZaWLUO4ZLFlKrJNR" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div> <hr>
        <!-- Dokumentasi U-Tapis --> 
        <h2 class="page-section-heading text-center text-uppercase text-black" style="margin-top: 3%;">Dokumentasi
            Penelitian U-Tapis</h2> <br>
        <!-- List Dokumentasi -->
        <!-- div Dokumentasi -->
        <div class="row">
            <div class="img-dok ms-auto d-flex flex-wrap">
                <img src="../static/assets/img/Dokumentasi/Dokumentasi U-Tapis (1).jpeg" alt="" class="m-2" width="525"
                    height="315">
                <img src="../static/assets/img/Dokumentasi/Dokumentasi U-Tapis (1).png" alt="" class="m-2" width="525"
                    height="315">
                <img src="../static/assets/img/Dokumentasi/Dokumentasi U-Tapis (2).png" alt="" class="m-2" width="525"
                    height="315">
                <img src="../static/assets/img/Dokumentasi/Dokumentasi U-Tapis (3).png" alt="" class="m-2" width="525"
                    height="315">
            </div>
        </div> <hr>
        <!-- Publikasi U-Tapis Media -->
        <h2 class="page-section-heading text-center text-uppercase text-black" style="margin-top: 3%;">Publikasi Media
            U-Tapis</h2> <br>
        <!-- Publikasi U-Tapis Media -->
        <!-- div News -->
        <div class="d-flex">
            <div class="flex-shrink-0">
                <img src="https://asset-2.tstatic.net/tribunnews/foto/bank/images/u-tapis.jpg" alt="" class="news-img">
            </div>
            <div class="flex-grow-1 ms-3">
                <a href="https://www.tribunnews.com/pendidikan/2022/10/11/u-tapis-kecerdasan-buatan-tapis-kesalahan-bahasa-jurnalis"
                    target="_blank">
                    <h4>U-Tapis, Kecerdasan Buatan Tapis Kesalahan Bahasa Jurnalis</h4>
                </a>
                <p>
                    TRIBUNNEWS.COM, SERPONG - Universitas Multimedia Nusantara (UMN) mengembangkan aplikasi penapis
                    kesalahan berbahasa pada tulisan yang diberi nama U-Tapis.

                    Pengembangan aplikasi U-Tapis bertepatan dengan bulan bahasa Indonesia yang dirayakan setiap
                    bulan Oktober.
                </p>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}