<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

{% include 'navbar.html' %}
<div class="container-fluid mt-1 p-5">
    <h2 class="text-center mb-4">Check Paragraph</h2>
    <form action="/detect" method="POST">
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder=" " name="paragraph" id="floatingTextarea"
                style="height: 200px;"></textarea>
            <label for="floatingTextarea">Input Paragraph</label>
        </div>
        <button type="submit" class="btn btn-primary ms-auto d-block">Check Paragraf</button>
    </form>

    <div class="mt-5">
        <div class="flex-column">
            <section class="border p-3 mb-4 rounded-4 border-success">
                <h3 class="text-success fw-bold text-uppercase rounded-5" style="letter-spacing: 0.06rem;">Deteksi Kata Di</h3>
                <hr>
                <div class="">
                    <div class="container mt-5 mb-5 ">
                        <div class="card card-container">
                            <div class="card-body">
                                <h5 class="card-title text-center mb-3">Paragraf Salah</h5>
                                    <p class="text-justify mt-2" id="paragraph">
                                    </p>
                            </div>
                        </div>
                
                        <div class="card card-container mt-3">
                            <div class="card-body">
                                <h5 class="card-title text-center mb-3">Hasil Tapis</h5>
                                <p class="text-justify mt-2" id="result">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="border p-3 mb-4 rounded-4 border-success">
                <h3 class="text-success fw-bold text-uppercase rounded-5" style="letter-spacing: 0.06rem;">Kata Majemuk</h3>
                <hr>
                <div class="">
                    <!-- Isi -->
                </div>
            </section>
            <section class="border p-3 rounded-4 border-success">
                <h3 class="text-success fw-bold text-uppercase rounded-5" style="letter-spacing: 0.06rem;">Kata Terikat</h3>
                <hr>
                <div class="">
                    <!-- Isi -->
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        const results = {{ result | tojson }};
        const paragraphText = {{ paragraph | tojson }};

        const paragraphElement = document.getElementById('paragraph');
        paragraphElement.classList.add('text-black');
        const resultElement = document.getElementById('result');

        const words = paragraphText.split(/\s+/);

        for (let i = 0; i < words.length; i++) {
            let word = words[i];
            let correctWord = words[i];
            let isCorrect = false;
            let isPeriod = false;

            if (word.charAt(word.length - 1) === '.') {
                word = word.slice(0, -1);
                isPeriod = true;
            }

            if (results[word]) {
                isCorrect = results[word].is_correct;
            } else if (word === 'di' || word === 'Di') {
                combinedPhrase = word + ' ' + words[i + 1];
                if (results[combinedPhrase]) {
                    isCorrect = results[combinedPhrase].is_correct;
                    word = combinedPhrase;
                    correctWord = combinedPhrase;
                    i++;
                } else {
                    isCorrect = 'Not found';
                }
            } else {
                isCorrect = 'Not found';
            }

            let paragraph = document.createElement('span');
            let result = document.createElement('span');
            
            if (isCorrect === true) {
                paragraph.classList.add('text-black');
                result.classList.add('text-black');
            } else if (isCorrect === false) {
                paragraph.classList.add('text-danger');
                paragraph.classList.add('fw-bold');
                paragraph.style.cursor = 'pointer';
                result.classList.add('text-success');
                result.classList.add('fw-bold');
                
                correctWord = results[word].suggestion;
            } else {
                paragraph.classList.add('text-white');
                result.classList.add('text-white');
            }

            if (isPeriod === true) {
                word += '.';
            }
            paragraph.textContent = word;
            result.textContent = correctWord

            if (isCorrect === false) {
                paragraph.addEventListener('click', function () {
                    displaySuggestion(results[word]);
                });
            }
            console.log('isCorrect:', isCorrect);
            
            paragraphElement.appendChild(paragraph);
            paragraphElement.appendChild(document.createTextNode(' '));
            resultElement.appendChild(result);
            resultElement.appendChild(document.createTextNode(' '));
        }
    });

    function displaySuggestion(result) {
        const suggestionContent = document.getElementById('suggestionContent');
        suggestionContent.textContent = result.suggestion;
        $('#suggestionModal').modal('show');
    }
</script>

<!-- Modal HTML -->
<div class="modal fade" id="suggestionModal" tabindex="-1" role="dialog" aria-labelledby="suggestionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal" role="document">
        <div class="modal-content">
            <div class="modal-header custom-header">
                <h5 class="modal-title" id="suggestionModalLabel">Suggestion</h5>
                <button type="button" class="btn btn-transparant" data-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <div id="suggestionContent"></div>
            </div>
        </div>
    </div>
</div>


{% include 'footer.html' %}